
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/cnp-leiders.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto; 
    max-height: 1020px;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}


/*--------------------------------ZONA CONTENEDOR----------------------------------*/

.zone {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1d00ac;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zone-header {
    display: flex;
    align-items: center;
}

.zone-name {
    flex: 1; 
    font-size: 25px; 
    font-weight: bold; 
    margin-right: 20px; 
}

.edit-zone-btn {
    width: 60px; 
    height: 60px; 
}

.zone:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.zone-header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.zone-header:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*------------------------------DATOS-----------------------------------*/

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
}

.data-container .data-row {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px); 
    margin-bottom: 10px;
}

.data-container .data-element {
    flex: 0 0 calc(50% - 10px); 
    padding: 10px;
    font-size: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.data-container .data-element:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*-------------------------------OPERACIONES-----------------------------*/

.operations-container {
    flex: 0 0 calc(50% - 10px); 
    padding: 10px;
    background-color: #2b00ff; 
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto;
    max-height: 250px; 
}

.operations-container .operation-container {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.operations-container .operation-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.operations-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*------------------------------CONSULTAS---------------------------------*/

.consults-container {
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto;
    max-height: 250px;
}

.consults-container .consult-container {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9; 
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.consults-container .consult-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.consults-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; 
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*------------------------------MULTAS---------------------------------*/

.fines-container {
    flex: 0 0 calc(50% - 10px); 
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; 
    max-height: 250px; 
}

.fines-container .fine-container {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fines-container .fine-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.fines-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*-------------------------DENUNCIAS-----------------------------*/

.complaints-container {
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; 
    max-height: 250px; 
}

.complaints-container .complaint-container {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.complaints-container .complaint-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.complaints-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*---------------------------NOTAS-------------------------------*/

.notes-container {
    flex: 0 0 calc(50% - 10px);
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto;
    max-height: 250px;
}

.notes-container .note-container {
    flex: 0 0 calc(50% - 10px); 
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.notes-container .note-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.notes-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*--------------------------BUSCA Y CAPTURA-------------------------*/

.executors-container {
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*------------------------------------si o no ------------------------------*/

.panel-si {
    background-color: #FF5733;
    color: black;
}

.panel-no {
    background-color: #4CAF50; 
    color: black;
}

.panel-text {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

.modify-sensor-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modify-sensor-btn:hover {
    background-color: #45a049;
}

/*------------------------------BOTONES CREAR ZONA--------------------------------*/

.create-zone-btn {
    background-color: #00ac11;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.create-zone-btn:hover {
    background-color: #00863e;
}

.boton-crear-zona {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 10px; 
}

/*------------------------------BOTONES ABAJO--------------------------------*/

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 10px;
}

.add-data-btn,
.modify-rank-btn,
.modify-job-btn, 
.add-note-btn, 
.add-fine-btn, 
.add-complaint-btn, 
.add-executor-btn,
.add-consult-btn,
.add-operation-btn,
.modify-zone-name-btn, 
.delete-zone-btn {
    background-color: #ea9800;
    color: rgb(0, 0, 0);
    padding: 20px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.add-data-btn:hover,
.add-note-btn:hover,
.modify-rank-btn:hover,
.modify-job-btn:hover, 
.add-fine-btn:hover,
.add-complaint-btn:hover,
.add-consult-btn:hover,
.add-executor-btn:hover,
.add-operation-btn:hover,
.modify-zone-name-btn:hover,
.delete-zone-btn:hover {
    background-color: #FFD700;
}

.search-container {
    text-align: center; 
    margin-bottom: 20px; 
}

.search-container input[type="text"] {
    padding: 10px; 
    font-size: 1.1em; 
    border-radius: 10px; 
    border: 1px solid #000000; 
    width: 250px; 
}

/*------------------------------BOTONES ARRIBA--------------------------------*/

.modify-sensor-btn,
.modify-note-btn,
.modify-fine-btn,
.modify-complaint-btn,
.modify-executor-btn,
.modify-consult-btn,
.modify-operation-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modify-sensor-btn:hover,
.modify-note-btn:hover,
.modify-fine-btn:hover,
.modify-complaint-btn:hover,
.modify-executor-btn:hover,
.modify-consult-btn:hover,
.modify-operation-btn:hover {
    background-color: #ff7f00;
}

.delete-sensor-btn,
.delete-consult-btn,
.delete-operation-btn,
.delete-note-btn,
.delete-fine-btn,
.delete-complaint-btn,
.delete-executor-btn,
.delete-consult-btn,
.delete-operation-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-sensor-btn:hover,
.delete-note-btn:hover,
.delete-fine-btn:hover,
.delete-complaint-btn:hover,
.delete-executor-btn:hover,
.delete-consult-btn:hover,
.delete-operation-btn:hover {
    background-color: #d63031;
}

/*--------------------------------------------------------------------------*/

.total-fine-amount {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.total-fine-amount:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 7px;
}

.red {
    background-color: red;
}

.green {
    background-color: #00b100;
}

/*--------------------------------------------------------------------------*/

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}