
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/cnp-leiders.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto; /* Activar desplazamiento vertical */
    max-height: 1020px; /* Altura máxima del contenedor con desplazamiento */
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}


/*--------------------------------ZONA CONTENEDOR----------------------------------*/

/* Estilos para el contenedor de zona */
.zone {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1d00ac;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.zone-header {
    display: flex;
    align-items: center;
}

.zone-name {
    flex: 1; 
    font-size: 25px; 
    font-weight: bold; 
    margin-right: 20px; 
}

.edit-zone-btn {
    width: 60px; 
    height: 60px; 
}

/* Efecto de elevación al hacer hover en el contenedor de zona */
.zone:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado de zona */
.zone-header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Efecto de sombra al hacer hover */
.zone-header:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*------------------------------DATOS-----------------------------------*/

/* Estilos para el contenedor de datos */
.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 300px; /* Establece una altura máxima para el contenedor */
}

/* Estilos para cada fila de datos */
.data-container .data-row {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px); /* Divide el espacio en 2 columnas */
    margin-bottom: 10px;
}

/* Estilos para cada elemento de datos */
.data-container .data-element {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de elevación al hacer hover en los elementos de datos */
.data-container .data-element:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*------------------------------MULTAS---------------------------------*/

/* Estilos para el contenedor de multas */
.fines-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 300px; /* Establece una altura máxima para el contenedor */
}


/* Estilos para cada tarjeta de multa */
.fines-container .fine-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en las multas */
.fines-container .fine-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.fines-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*-------------------------DENUNCIAS-----------------------------*/

/* Estilos para el contenedor de denuncias */
.complaints-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 300px; /* Establece una altura máxima para el contenedor */
}

/* Estilos para cada tarjeta de denuncia */
.complaints-container .complaint-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en las denuncias */
.complaints-container .complaint-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.complaints-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}


/*---------------------------NOTAS-------------------------------*/

/* Estilos para el contenedor de notas */
.notes-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 300px; /* Establece una altura máxima para el contenedor */
}

/* Estilos para cada tarjeta de nota */
.notes-container .note-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en las notas */
.notes-container .note-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.notes-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*--------------------------BUSCA Y CAPTURA-------------------------*/

/* Estilos para el contenedor de ejecutores */
.executors-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos para cada tarjeta de ejecutor */
.executors-container .executor-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en los ejecutores */
.executors-container .executor-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.executors-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*------------------------------BOTONES CREAR ZONA--------------------------------*/

/* Estilos específicos para el botón de agregar nueva zona */
.create-zone-btn {
    background-color: #00ac11;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.create-zone-btn:hover {
    background-color: #00863e;
}

.boton-crear-zona {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 10px; /* Esto es opcional, ajusta la altura según tus necesidades */
}

/*------------------------------BOTONES ABAJO--------------------------------*/

.buttons-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    margin-top: 10px;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.buttons-container .top-buttons,
.buttons-container .bottom-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.buttons-container button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttons-container button:hover {
    background-color: #45a049;
}



/*------------------------------BOTONES ARRIBA--------------------------------*/

/* Estilos para los botones de modificar */
.modify-sensor-btn,
.modify-note-btn,
.modify-fine-btn,
.modify-complaint-btn,
.modify-executor-btn {
    background-color: orange;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modify-sensor-btn:hover,
.modify-note-btn:hover,
.modify-fine-btn:hover,
.modify-complaint-btn:hover,
.modify-executor-btn:hover {
    background-color: #ff7f00;
}

/* Estilos para los botones de borrar */
.delete-sensor-btn,
.delete-note-btn,
.delete-fine-btn,
.delete-complaint-btn,
.delete-executor-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-sensor-btn:hover,
.delete-note-btn:hover,
.delete-fine-btn:hover,
.delete-complaint-btn:hover,
.delete-executor-btn:hover {
    background-color: #d63031;
}

/*-------------------------------MULTAS LISTA-----------------------------------*/

.multas {
    max-width: 1000px;
    max-height: 300px; /* Altura máxima del contenedor con desplazamiento */
    margin: 10px auto; /* Centrar horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #f9f9f9;
    overflow-y: auto; /* Activar desplazamiento vertical */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.multas button {
    background-color: #007bff; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Eliminar borde del botón */
    padding: 10px 20px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar cursor al pasar el mouse */
    border-radius: 5px; /* Bordes redondeados */
}

.multas button:hover {
    background-color: #0056b3; /* Cambiar color de fondo al pasar el mouse */
}

#searchInput {
    padding: 10px; /* Aumentar el espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde */
    width: 80%; /* Ancho del input */
    max-width: 400px; /* Ancho máximo */
    display: block; /* Convertir en bloque */
    margin: 0 auto; /* Centrar horizontalmente */
}


#multasList {
    list-style-type: none; /* Eliminar viñetas de la lista */
    padding: 0; /* Eliminar espaciado interno de la lista */
}

#multasList li {
    margin-bottom: 10px; /* Margen inferior entre elementos de la lista */
}

#multasList li p {
    margin: 0; /* Eliminar margen de los párrafos dentro de los elementos de la lista */
}

/*--------------------------------------------------------------------------*/

/* Estilos para la tabla de multas */
.multas-table {
    width: 100%; /* Ancho de la tabla */
    margin: 10px auto;
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid black; /* Borde de color negro */
}

.multas-table th,
.multas-table td {
    padding: 8px; /* Espaciado interno de celda */
    border-radius: 5px; /* Bordes redondeados */
    text-align: left; /* Alinear texto a la izquierda */
    border-bottom: 1px solid #ddd; /* Borde inferior de celda */
}

/* Estilos para la fila de encabezado */
.multas-table th {
    background-color: #007bff; /* Color de fondo del encabezado */
    color: white; /* Color de texto del encabezado */
}

/* Estilos para las filas de la tabla */
.multas-table tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo de filas pares */
}

/* Estilos para las celdas de la tabla */
.multas-table td {
    font-weight: bold; /* Texto en negrita */
}

/* Estilos de hover para las filas de la tabla */
.multas-table tr:hover {
    background-color: #ddd; /* Cambiar color de fondo al pasar el mouse */
    transition: background-color 0.3s ease; /* Animación de transición */
}

/*--------------------------------------------------------------------------*/
hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}
