
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../img/DNI-LEIDERSRP.png');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #999999;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-y: auto; /* Activar desplazamiento vertical */
    max-height: 1020px; /* Altura máxima del contenedor con desplazamiento */
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}


/*--------------------------------ZONA CONTENEDOR----------------------------------*/

/* Estilos para el contenedor de zona */
.zone {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #1d00ac;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px; /* Espacio superior */
}

.zone-header {
    display: flex;
    align-items: center;
}

.zone-name {
    flex: 1; 
    font-size: 25px; 
    font-weight: bold; 
    margin-right: 20px; 
}

.edit-zone-btn {
    width: 60px; 
    height: 60px; 
}

/* Efecto de elevación al hacer hover en el contenedor de zona */
.zone:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado de zona */
.zone-header {
    background-color: white;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Efecto de sombra al hacer hover */
.zone-header:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/*------------------------------DATOS-----------------------------------*/

/* Estilos para el contenedor de datos */
.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2px;
}

/* Estilos para cada fila de datos */
.data-container .data-row {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px); /* Divide el espacio en 2 columnas */
    margin-bottom: 10px;
}

/* Estilos para cada elemento de datos */
.data-container .data-element {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de elevación al hacer hover en los elementos de datos */
.data-container .data-element:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/*------------------------------MULTAS---------------------------------*/

/* Estilos para el contenedor de multas */
.fines-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 250px; /* Establece una altura máxima para el contenedor */
}


/* Estilos para cada tarjeta de multa */
.fines-container .fine-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en las multas */
.fines-container .fine-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.fines-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

.total-fine-amount {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.total-fine-amount:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 7px;
}

.red {
    background-color: red;
}

.green {
    background-color: #00b100;
}

/*-------------------------DENUNCIAS-----------------------------*/

/* Estilos para el contenedor de denuncias */
.complaints-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 250px; /* Establece una altura máxima para el contenedor */
}

/* Estilos para cada tarjeta de denuncia */
.complaints-container .complaint-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en las denuncias */
.complaints-container .complaint-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.complaints-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*---------------------------NOTAS-------------------------------*/

/* Estilos para el contenedor de notas */
.notes-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow-y: auto; /* Agrega scroll vertical cuando sea necesario */
    max-height: 250px; /* Establece una altura máxima para el contenedor */
}

/* Estilos para cada tarjeta de nota */
.notes-container .note-container {
    flex: 0 0 calc(50% - 10px); /* Divide el espacio en 2 columnas */
    margin-bottom: 10px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto de tarjeta al hacer hover en las notas */
.notes-container .note-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.notes-container h2 {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0 0;
    margin: 0;
    margin-bottom: 10px;
}

/*--------------------------BUSCA Y CAPTURA-------------------------*/

/* Estilos para el contenedor de ejecutores */
.executors-container {
    padding: 10px;
    background-color: #2b00ff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 1.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*------------------------------------si o no ------------------------------*/

/* Estilo para el contenedor de panel SI */
.panel-si {
    background-color: #FF5733; /* Verde */
    color: black;
}

/* Estilo para el contenedor de panel NO */
.panel-no {
    background-color: #4CAF50; /* Rojo */
    color: black;
}

/* Estilos para el texto dentro del panel */
.panel-text {
    font-size: 24px;
    font-weight: bold;
    padding: 20px;
}

/* Estilos para el botón de modificar */
.modify-sensor-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modify-sensor-btn:hover {
    background-color: #45a049;
}

/*------------------------------BOTONES ABAJO--------------------------------*/
.search-container {
    text-align: center; /* Alineación a la izquierda */
}

.search-container label {
    font-size: 23px;
    font-weight: bold; /* Texto en negrita */
    margin-right: 10px;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 1.1em; /* Tamaño del texto */
    border-radius: 10px; /* Bordes más redondeados */
    border: 1px solid #ccc;
    margin-right: 5px;
    width: 250px; /* Ancho mayor */
}

.search-container button {
    padding: 12px 25px; /* Padding mayor */
    font-size: 1.1em; /* Tamaño del texto */
    font-weight: bold; /* Texto en negrita */
    border-radius: 10px; /* Bordes más redondeados */
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transición al pasar el mouse */
}

.search-container button:hover {
    background-color: #0056b3;
}

/*--------------------------------------------------------------------------*/
hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 10px 0;
}